In [5]:
my_str = 'Welcome!'
ur_str = "You're welcome."

print(my_str)
print(ur_str)

print(type(my_str))
print(type(ur_str))

Welcome!
You're welcome.
<class 'str'>
<class 'str'>

In [6]:
print(ord('a'))    
print(ord('A'))
print(chr(97))
print(chr(65))
print(ord('가'))
print(chr(0xAC00))

97
65
a
A
44032
가

In [8]:
str1 = b'hello'
str2 = 'hello'
str3 = b'hello'
print(type(str1), type(str2), type(str3))

<class 'bytes'> <class 'str'> <class 'bytes'>

In [9]:
#'끼리 짝을 이루어 I don을 감쌌다
s = 'I don't like Python!'

SyntaxError: invalid syntax (4145611764.py, line 1)

In [10]:
print("사회적\n거리두기")
print('--------------------------')

print("사회적\t거리두기")
print('--------------------------')

print('오늘부터 \'사회적 거리두기\'')

사회적
거리두기
--------------------------
사회적	거리두기
--------------------------
오늘부터 '사회적 거리두기'

In [11]:
print('Please don\'t touch it')
print(b'Please don\'t touch it')

Please don't touch it
b"Please don't touch it"

In [12]:
EmployeeID = ['OB94382', 'OW34723', 'OB32308', 'OB83461', 
                                  'OB74830', 'OW37402', 'OW11235', 'OB82345'] 
Production_Employee = [P for P in EmployeeID if P.startswith('OB')]   # 'OB'로 시작하는 직원 ID를 다 찾아봅니다
Production_Employee

['OB94382', 'OB32308', 'OB83461', 'OB74830', 'OB82345']

In [13]:
import os
image_dir_path = os.getenv("HOME") + "/data/pictures"   
photo = os.listdir(image_dir_path )
png = [png for png in photo if png.endswith('.png')]
print(png)

['image5.png', 'image2.png', 'image12.png', 'image3.png', 'image8.png', 'image13.png', 'image6.png', 'image4.png', 'image14.png', 'image9.png', 'image10.png', 'image7.png', 'image11.png', 'image1.png']

In [14]:
print("사회적 거리두기")
print('--------------------------')
print("사회적\t거리두기")
print('--------------------------')
print("사회적\n거리두기")
print('--------------------------')
print("사회적거리두기")

사회적 거리두기
--------------------------
사회적	거리두기
--------------------------
사회적
거리두기
--------------------------
사회적거리두기

In [15]:
txt = "      Strip white spaces.      "
print('[{}]'.format(txt))
print('--------------------------')

#- 양쪽 공백 제거 : strip()
print('[{}]'.format(txt.strip()))
print('--------------------------')

#- 왼쪽 공백 제거 : lstrip()
print('[{}]'.format(txt.lstrip()))
print('--------------------------')

#- 오른쪽 공백 제거 : rstrip()
print('[{}]'.format(txt.rstrip()))

[      Strip white spaces.      ]
--------------------------
[Strip white spaces.]
--------------------------
[Strip white spaces.      ]
--------------------------
[      Strip white spaces.]

In [16]:
txt = "I fell into AIFFEL"
txt.upper()

'I FELL INTO AIFFEL'

In [17]:
txt.lower()

'i fell into aiffel'

In [18]:
txt.capitalize()

'I fell into aiffel'

In [19]:
print("aiffel".isupper())
print("aiffel".islower())
print("PYTHON".istitle())
print("python101".isalpha())
print("python101".isalnum())
print("101".isdecimal())

False
True
False
False
True
True

In [20]:
stages = ['fundamentals', 'exploration', 'goingdeeper']
", ".join(stages)

'fundamentals, exploration, goingdeeper'

In [21]:
" ".join(stages)

'fundamentals exploration goingdeeper'

In [22]:
'fundamentals,exploration,goingdeeper'.split(', ')

['fundamentals,exploration,goingdeeper']

In [23]:
sent = 'I can do it!'
sent.replace('I', 'You')

'You can do it!'

In [24]:
sent = 'I fell into AIFFEL'
print(sent)
print(id(sent))
sent.upper()
print(sent)
print(id(sent))

I fell into AIFFEL
139955071700464
I fell into AIFFEL
139955071700464

In [25]:
sent = 'I fell into AIFFEL'
print(sent)
print(id(sent))
sent = sent.upper()
print(sent)
print(id(sent))

I fell into AIFFEL
139955071700704
I FELL INTO AIFFEL
139955071700464

In [26]:
sent = 'I can do it!'
rep = sent.replace("I", "You")
rep

'You can do it!'

In [27]:
import re
sent = 'I can do it!'
pattern = re.sub("I", "You", sent)
pattern

'You can do it!'

In [28]:
#1단계 :  "the"라는 패턴을 컴파일한 후 패턴 객체를 리턴한다. 
pattern = re.compile("the")    

# 2단계 : 컴파일된 패턴 객체를 활용하여 다른 텍스트에서 검색을 수행한다.
pattern.findall('of the people, for the people, by the people')

['the', 'the', 'the']

In [29]:
re.findall('the', 'of the people, for the people, by the people')

['the', 'the', 'the']

In [30]:
src = "My name is..."
regex = re.match("My", src)
print(regex)
if regex:
    print(regex.group())
else:
    print("No!")

<re.Match object; span=(0, 2), match='My'>
My

In [31]:
text = """
The first season of America Premiere League  was played in 1993. 
The second season was played in 1995 in South Africa. 
Last season was played in 2019 and won by Chennai Super Kings (CSK).
CSK won the title in 2000 and 2002 as well.
Mumbai Indians (MI) has also won the title 3 times in 2013, 2015 and 2017.
"""
pattern = re.compile("[1-2]\d\d\d")
pattern.findall(text)

['1993', '1995', '2019', '2000', '2002', '2013', '2015', '2017']

In [33]:
phonenumber = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
phone = phonenumber.search('This is my phone number 010-111-1111')
if phone:
    print(phone.group())
print('------')
phone = phonenumber.match ('This is my phone number 010-111-1111')
if phone:
    print(phone)

010-111-1111
------

In [34]:
phonenumber = re.compile(r'\d{3}-\d{3}-\d{4}')
phone = phonenumber.search('This is my phone number 010-111-1111')
if phone:
    print(phone.group())
print('------')
phone = phonenumber.match ('This is my phone number 010-111-1111')
if phone:
    print(phone.group())

010-111-1111
------

In [35]:
phonenumber = re.compile(r'(\d{3}-){2}\d{4}')
phone = phonenumber.search('This is my phone number 010-111-1111')
if phone:
    print(phone.group())
print('------')
phone = phonenumber.match ('This is my phone number 010-111-1111')
if phone:
    print(phone.group())

010-111-1111
------

In [36]:
text = "My e-mail adress is doingharu@aiffel.com, and tomorrow@aiffel.com"
pattern = re.compile("[0-9a-zA-Z]+@[0-9a-zA-Z]+\.[0-9a-zA-Z]+")
pattern.findall(text)

['doingharu@aiffel.com', 'tomorrow@aiffel.com']

In [40]:
f = open("hello.txt","w") 
#- open(파일명, 파일모드)
#- 파일을 열고 파일 객체를 반환
for i in range(10):
    f.write("안녕")

f.close()

with open("hello.txt", "r") as f:
    print(f.read())

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [44]:
quotes = ["\n안녕하세요.\n", "반갑습니다.\n", "오랜만입니다.\n"]

with open("hello.txt", "a") as f:              
    f.writelines(quotes)

In [45]:
with open('hello.txt', 'r') as f:
    hello = f.readlines()
    print(f'위치 : {f.tell()}')
    print(hello)
    print("----------------------------------------------------")
    f.seek(10)
    print(f'위치 : {f.tell()}')

위치 : 170
['안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕\n', '안녕하세요.\n', '반갑습니다.\n', '오랜만입니다.\n', '\n', '안녕하세요.\n', '반갑습니다.\n', '오랜만입니다.\n']
----------------------------------------------------
위치 : 10

In [46]:
import sys
sys.executable

'/opt/conda/bin/python'

In [47]:
sys.path

['/aiffel',
 '/opt/conda/lib/python39.zip',
 '/opt/conda/lib/python3.9',
 '/opt/conda/lib/python3.9/lib-dynload',
 '',
 '/opt/conda/lib/python3.9/site-packages',
 '/opt/conda/lib/python3.9/site-packages/IPython/extensions',
 '/aiffel/.ipython']

csv

In [48]:
billboardchart = {
  				 1 : ["Tho Box","Roddy Ricch","2019-12-19"],
                 2 : ["Don't Start Now", "Dua Lipa", "2019-11-01"],
                 3 : ["Life Is Good", "Future Featuring Drake", "2020-02-10"],
                 4 : ["Blinding", "The Weeknd", "2019-11-29"],
                 5 : ["Circles", "Post Malone","2019-08-30"]}

with open("billboardchart.csv","w") as f:
    for i in billboardchart.values():
        data = ",".join(i)
        f.write(data+"\n")

In [49]:
import csv

header = ["title", "singer", "released date"]

with open("billboardchart.csv","r") as inputfile:
    with open("billboardchart_out.csv","w", newline='\n') as outputfile:
        fi = csv.reader(inputfile, delimiter=',')
        fo = csv.writer(outputfile, delimiter=',')
        fo.writerow(header)
        for row in fi:
            fo.writerow(row)

In [50]:
fields = ["title", "singer", "released date"]
rows = [ ["Tho Box","Roddy Ricch","2019-12-19"],
               ["Don't Start Now", "Dua Lipa", "2019-11-01"],
               ["Life Is Good", "Future Featuring Drake", "2020-02-10"],
               ["Blinding", "The Weeknd", "2019-11-29"],
               ["Circles", "Post Malone","2019-08-30"]]

In [51]:
import pandas as pd

df=pd.DataFrame(rows, columns=fields)
df.to_csv('pandas.csv',index=False)

슝~

In [52]:
import csv 

filename = "test.csv"
with open(filename, 'w+', newline='\n') as csv_file: 
    csv_writer = csv.writer(csv_file) 
    csv_writer.writerow(fields) 
    csv_writer.writerows(rows)

In [53]:
df = pd.read_csv('pandas.csv')
df.head()

             title                  singer released date
0          Tho Box             Roddy Ricch    2019-12-19
1  Don't Start Now                Dua Lipa    2019-11-01
2     Life Is Good  Future Featuring Drake    2020-02-10
3         Blinding              The Weeknd    2019-11-29
4          Circles             Post Malone    2019-08-30

xml

In [55]:
import xml.etree.ElementTree as ET

person = ET.Element("Person")
name = ET.Element("name")
name.text = "이펠"
person.append(name)

age = ET.Element("age")
age.text = "28"
person.append(age)

ET.SubElement(person, 'place').text = '강남'

ET.dump(person)

<Person><name>이펠</name><age>28</age><place>강남</place></Person>

In [56]:
person.attrib["id"] = "0x0001"
name.tag = "firstname"
ET.dump(person)

<Person id="0x0001"><firstname>이펠</firstname><age>28</age><place>강남</place></Person>

In [57]:
lastname = ET.Element('lastname', date='2020-03-20')
lastname.text = '아'
person.insert(0,lastname)
ET.dump(person)

<Person id="0x0001"><lastname date="2020-03-20">아</lastname><firstname>이펠</firstname><age>28</age><place>강남</place></Person>

In [58]:
person.remove(age)

In [59]:
ET.ElementTree(person).write('person.xml')

In [60]:
!ls

aiffel			data	    person.xml
billboardchart.csv	hello.txt   test.csv
billboardchart_out.csv	pandas.csv  Untitled.ipynb

In [61]:
from bs4 import BeautifulSoup
import os

path = os.getenv("HOME") + "/aiffel/ftext/data/books.xml"  # 로컬을 사용하시려면 경로는 수정해 주세요. 
with open(path, "r", encoding='utf8') as f:
    booksxml = f.read() 
    #- 파일을 문자열로 읽기
 
soup = BeautifulSoup(booksxml,'lxml') 
#- BeautifulSoup 객체 생성 : lxml parser를 이용해 데이터 분석

for title in soup.find_all('title'): 
#-  태그를 찾는 find_all 함수 이용
    print(title.get_text())

XML Developer's Guide
Midnight Rain
Maeve Ascendant
Oberon's Legacy
The Sundered Grail
Lover Birds
Splish Splash
Creepy Crawlies
Paradox Lost
Microsoft .NET: The Programming Bible
MSXML3: A Comprehensive Guide
Visual Studio 7: A Comprehensive Guide

json

In [62]:
import json

person = {
      "first name" : "Yuna",
      "last name" : "Jung",
      "age" : 33,
      "nationality" : "South Korea",
      "education" : [{"degree":"B.S degree", "university":"Daehan university", "major": "mechanical engineering", "graduated year":2010}]
       } 

with open("person.json", "w") as f:
    json.dump(person , f)

In [63]:
import json

with open("person.json", "r", encoding="utf-8") as f:
    contents = json.load(f)
    print(contents["first name"])
    print(contents["education"])

Yuna
[{'degree': 'B.S degree', 'university': 'Daehan university', 'major': 'mechanical engineering', 'graduated year': 2010}]